<div xmlns:th="http://www.thymeleaf.org" th:fragment="adBanner" class="ad-slot" style="display:flex;justify-content:center;margin:1.5rem 0;">
<div class="admax-switch" data-admax-id="19c3c54f850070f4a1f2cdd122415e29" style="display:inline-block;"></div>
<script type="text/javascript">
(admaxads = window.admaxads || []).push({admax_id: "19c3c54f850070f4a1f2cdd122415e29",type: "switch"});</script>
<script type="text/javascript" charset="utf-8" src="https://adm.shinobi.jp/st/t.js" async></script>
</div>
